<div>
	<h4>We enable our customers operate optimally</h4>
	<p>
		<b>Ecolibrium:</b> A defined state of ecological equilibrium
		describing an environment, which utilizes Energy (Power, Air, Water,
		Gas, etc) in a sustainable and ecologically balanced manner.
	</p>

	<p>SmartSense, our Big Data Energy analytics Platform provides
		Energy Intelligence to Commercial & Industrial consumers, and
		Utilities. The insights increases operational efficiency by optimizing
		energy usage and improves asset utilization.</p>

	<p>We also help Power Distribution companies meet their demand side
		management goals by connecting with their high power consuming
		consumers and helping them the way they consume power.</p>

	<h4>SmartSense creates a world where every watt counts</h4>
</div>